main {
    margin-left: 64px;
    margin-top: 50px;

}

main.open{
    margin-left: 240px;
}

#main-content
{
    padding: 10px;
}

.navbar {
    background-color: #D5D5D5 !important;
}

td.lastColumn,th.lastColumn {
    text-align: right;
}

.form1{
  border-color: cornflowerblue;
}

.buttonXL{

    font-size: 16px;

    width:400%;
}

#mysidenav{
    background: #0c9dc3 !important;
    position: fixed;
}

#mainnavbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 64px;
    z-index: 10;
}

#mainnavbar.open{
    left: 240px;
}

/* .pagination {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    color: violet;
    /* background: #0c9dc3 !important; */
/* }

.pagesPagination  {
    display: inline-block;
    background-color: yellow !important;
    
} */ 
/* .pagination  {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
} */
.pagination{
    display: contents;
    /* neveikia */
    /* position: fixed!important;
    bottom: 0 !important; 
    left: 0 !important; */
}

.pagination ul {
    display: inline-block;
    margin-left: 20px;
    padding-left: 0;
 }
 
 .pagination li {
    display: inline-block;
    border: 1px solid rgb(224, 224, 224);
    color: #000;
    cursor: pointer;
    margin-right: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
 }
 
 .pagination li a {
      padding: 2px 5px;
      display: inline-block;
      color: #000;
      outline: none;
  }
 
 .pagination li.active {
    background: rgb(224, 224, 224);
    outline: none;
 }