main {
    margin-left: 64px;
    margin-top: 40px;

}

main.open{
    margin-left: 240px;
}

#main-content
{
    padding: 10px;
}

.navbar {
    background-color: #D5D5D5 !important;
}

td.lastColumn,th.lastColumn {
    text-align: right;
}

.form1{
  border-color: cornflowerblue;
}

.buttonXL{

    font-size: 16px;

    width:400%;
}

#mysidenav{
    background: #0c9dc3 !important;
    position: fixed;
}

#mainnavbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 64px;
    z-index: 10;
}

#mainnavbar.open{
    left: 240px;
}